body {
  background-color: rgb(17, 5, 7);
  text-align: center;
}

h1 {
  font-size: 3vh;
  margin: 0;
}

footer {
  color: rgb(150, 150, 150);
  font-size: 9px;
  position: fixed;
  bottom: 0;
}

.record {
  color: white;
}

.record-highlighted {
  color: rgb(56, 156, 255);
}

.bounding-box {
  background-color: rgb(35, 10, 15);
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}

.dot {
  background-color: rgb(150, 150, 150);
  border-radius: 100%;
  /* height: 150px; */
  left: calc(50% - 75px);
  position: relative;
  top: calc(50% - 75px);
  /* width: 150px; */
}

.hovered {
  opacity: .5;
}

.half-circle {
  background-color: rgb(80, 20, 80);
  border-radius: 100%;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  height: calc(100%);
  position: absolute;
  width: calc(100%);
}

.timer-filler {
  left: 0;
  transform: rotate(180deg);
  opacity: 0;
}

.timer-mask {
  background-color: rgb(150, 150, 150);
  opacity: 1;
}

.timer-spinner {
  clip-path: polygon(0 0, 49.7% 0, 49.7% 100%, 0 100%);
}
